<footer>
    <p id="about">
        Lorem ipsum dolorinctio laborum ut molestiae veritatis in nesciunt quia ipsum? Fugiat deserunt nemo quia? Molestiae, ad harum reprehenderit officia corrupti eius, magnam aliquam itaque, porro accusamus obcaecati inventore?
        Excepturi earum, blanditiis perspiciatis maiores ad natus facere aut voluptatem! Repellendus vero, corporis est in inventore ad quisquam, vel cupiditate unde blanditiis maxime sapiente alias optio! Nihil, magnam nulla! Officiis.
        Mollitia totam eaque vero distinctio nulla porro sapiente placeat reprehenderit unde quam voluptatum ipsa consequatur dolorem, enim natus. Nemo sunt obcaecati non doloremque ipsa aliquid, inventore quis porro commodi voluptatibus.
    </p>
    <p class="reserved">All rights reserved.</p>
    <p class="reserved">Done by Calas Costa</p>
</footer>

</body>
</html>