<%-include("partials/header")-%>


<h1 id="gameTitle">Games</h1>

<div class="games">

    <div class="gameCategory" id="grammarGame">
        <a href="" >Grammar</a>
    </div>
    
    <div class="gameCategory" id="vocabularyGame">
        <a href="/game/vocabularyGame">Vocabulary</a>
    </div>
    
    <div class="gameCategory" id="phrasesGame">
        <a href="" >Phrases and idioms</a>
    </div>
    
</div>




