<%- include("partials/header.ejs") -%>

    <section class="powerWelcoming">
        <div id="left">
            <h1>Study room created by Calas</h1>
            <p>Use this study room to concentrate and enjoy your time studying</p>
        </div>
        <img id="rightImg"  src="/images/banner1.svg" alt="banner" />
        
        <img id="downPointer" src="/images/downPointer.svg" alt="downPointer" />
    </section>

    

    <main>
        <h2>Categories</h2>

        <section >
            <% categories.forEach((c)=>{ %>
                <article class="category">
                    <a href="/category/<%= c.category_id %>" >
                        <div>
                            <img src="../images/usaFlag.svg" alt="" class="flag">
                            <p class="txtCategory"><%= c.category %></p>
                        </div>  
                    </a>
                </article>
            <% }); %>

            <article class="category">
                <a href="/robotRoom" >
                    <div>
                        <img src="../images/robot.svg" alt="" class="flag">
                        <p class="txtCategory">Talk to robot</p>
                    </div>  
                </a>
            </article>

            <article class="category">
                <a href="/robotRoom" >
                    <div>
                        <img src="../images/books.png" alt="" class="flag">
                        <p class="txtCategory">Explore Books</p>
                    </div>  
                </a>
            </article>
        </section>

    </main>

    <form action="/createCategory" method="post" id="createCategoryForm">
        <input type="text" name="txtCategory" placeholder="Enter category">
        <button type="submit">Submit</button>
    </form>

<%- include("partials/footer.ejs") -%> 


