<%- include("partials/header") -%>

<section class="vocabularyGameSection">

    <div>
        
    </div>

    <h2 class="vocQuestion">Witch of the following images related to Angry?</h2>

    <div class="leftOptions">
        <div class="vocAnswerOptions">
            <img src="/images/books.png" alt="image">
        </div>
        <div class="vocAnswerOptions">
            <img src="/images/books.png" alt="image">
        </div>
    </div>

    <div class="rightOptions">
        <div class="vocAnswerOptions"> 
            <img src="/images/Humaaans - 2 Characters.png" alt="image">
        </div>
        <div class="vocAnswerOptions">
            <img src="/images/Humaaans - 2 Characters.png" alt="image">
        </div>
    </div>
    
</section>