body{
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
    line-height: 1.5;
    background-color: #164d58;
    
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 20px;       
    height: 40px;
}


header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #164d58;
    height: 10vh;
}

.appName{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.menu{
    display: flex;
    gap: 25px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    font-size: 14px;
}

.menu a:hover{
    box-shadow: 0 0 10px 1px white;
    border-radius: 10px;
}

 /** hero side **/

 .powerWelcoming{
    width: 70%;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
 }

#left {
    width: 50%;
    margin-left: 10%;
}

#left p, .menu a{
    opacity: 0.8;
}

#rightImg {
    width: 50%;
}

#downPointer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0 auto 4% auto;
    animation: downPointerAnimation 4s infinite;
}

@keyframes downPointerAnimation {
    0%{
        margin-bottom: 4%;
    }
    50%{
        margin-bottom: 2%;
    }
}

/**** main  ****/
main{
    width: 60%;
    text-align: center;
    margin: 10% auto;
}


.category{
    width: 200px;
    border-radius: 10px;
    margin: 2%;
    display: inline-block;
}

.category div{
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 50px;
    border-radius: 5px;
    position: relative;background-color: #c7bfbf;
}

.category #centerDiv{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 0 5px rgb(0, 0, 0);
    position: relative;
    margin: auto;
    margin-top: -75px;
}

.category img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 0 0 5px rgba(200, 201, 201, 0.555);
    position: relative;
    margin-top: -45px;
    background-color: #164d58;
}

.category div:hover{
    box-shadow: 0 0 2px 5px rgba(0, 21, 27, 0.685);
}


main a{
    text-decoration: none;
    text-align: center;
}

main img{
    width: 100%;
}

main a p{
    font-weight: bold;
    color: black;
}

#createCategoryForm{
    text-align: center;
}


/***** footer ****/
footer{
    text-align: center;
    min-height: 200px;
    opacity: 0.9;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.reserved{
    font-size: 12px;
}



/****  ****/
.noteSide{
    width: 34%;
    height: 95vh;
    background-color: rgb(192, 201, 183);
    margin-top: 1%;
    border-style: solid;
    border-radius: 10px;
}

.notes div{
    display: flex;
    align-items: center;
    
}

.notes{
    height: 75%;
    overflow: scroll;
    border-radius: 10px;
}

.text{
    color: rgb(17, 5, 185);
    border-radius: 5px;
    margin: 0 2%;
    font-weight: bold;
}

.meaning{
    margin-right: 2%;
    border-radius: 5px;
}


.takeNote{
    width: 100%;
    height: 25.2%;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 88, 93);
}

.takeNote form {
    text-align: center;
}



@media screen and (max-width: 992px) {
    .powerWelcoming{
        width: 95%;
     }

}

@media screen and (max-width: 600px) {
    .powerWelcoming {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
     }

     .menu a {
         opacity: 0.8;
     }

     #left {
        width: 95%;
        margin: 4%;
    }
    
    #rightImg {
        width: 95%;
        margin: 20% 4% 10% 4%;
    }
}