body{
    margin: 0;
    padding: 0;
    font-family: 'Padauk', sans-serif;
    line-height: 1.5;
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 10vh;
}

.appName{
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.menu{
    display: flex;
    gap: 25px;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    font-size: 14px;
}

.menu a:hover{
    box-shadow: 0 0 10px 1px white;
    border-radius: 10px;
}

 /** power side **/

 .powerWelcoming{
    width: 70%;
    margin: auto;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
 }

#left {
    width: 50%;
    margin-left: 10%;
}

#left p, .menu a{
    opacity: 0.8;
}

#rightImg {
    width: 50%;
}

#downPointer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    margin: 0 auto 4% auto;
    animation: downPointerAnimation 4s infinite;
}

@keyframes downPointerAnimation {
    0%{
        margin-bottom: 4%;
    }
    50%{
        margin-bottom: 2%;
    }
}

/**** main  ****/
main{
    width: 90%;
    text-align: center;
    margin: 10% auto;
}


.category{
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 0px 10px rgba(118, 182, 212, 0.219);
    margin: 15px;
    display: inline-block;
    background-color: #c4c4c4;
}

.category:hover{
    box-shadow: 0 0 0px 10px rgba(144, 159, 168, 0.575);
}


main a{
    text-decoration: none;
    text-align: center;
}

main img{
    width: 100%;
}

main a p{
    font-weight: bold;
    color: black;
}

#createCategoryForm{
    text-align: center;
}


/***** footer ****/
footer{
    text-align: center;
    min-height: 200px;
    opacity: 0.9;
    padding: 10px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}



.reserved{
    font-size: 12px;
}



/****  ****/
.noteSide{
    width: 34%;
    height: 95vh;
    background-color: rgb(192, 201, 183);
    margin-top: 1%;
    border-style: solid;
    border-radius: 10px;
}

.notes div{
    display: flex;
    align-items: center;
    
}

.notes{
    height: 75%;
    overflow: scroll;
    border-radius: 10px;
}

.text{
    color: rgb(17, 5, 185);
    border-radius: 5px;
    margin: 0 2%;
    font-weight: bold;
}

.meaning{
    margin-right: 2%;
    border-radius: 5px;
}


.takeNote{
    width: 100%;
    height: 25.2%;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 88, 93);
}

.takeNote form {
    text-align: center;
}



@media screen and (max-width: 992px) {
    .powerWelcoming{
        width: 95%;
     }

     
}

@media screen and (max-width: 600px) {
    .powerWelcoming{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: flex-end;
     }

     .menu a {
         opacity: 0.8;
     }

     #left {
        width: 95%;
        margin: 4%;
    }
    
    #rightImg {
        width: 95%;
        margin: 20% 4% 10% 4%;
    }
}